html,
body,
div,
h1
p,
a,
video {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}

body {
    font-family: "Oxygen", sans-serif;
}
#banner{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 4;
}
#my-logo{
    background-image: url("media/crlogo.png");
    z-index: 5;
    height: 39px;
    width: 180px;
    display: inline-block;
    position: static;
}
#wu-logo{
    background-image: url("media/wunderground.jpg");
    z-index: 5;
    margin-left: 20px;
    height: 39px;
    width: 180px;
    display: inline-block;
    position: static;
}
.cover  {
    position: fixed;
    top: 50%; left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    background:
        /* transparent grey, faked with gradient */
            linear-gradient(
                    rgba(0, 0, 0, 0.75),
                    rgba(0, 0, 0, 0.75)
            )
}
.content  {
    position: relative;
    z-index: 3;
    top: 30%;
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
    color: #fff;
}
.content_location{
    margin-bottom: 24px;
    font-size: 44px;
}
.content_temp{

    margin-bottom: 24px;
    font-size: 22px;

}
.content_weather{
    display: inline-block;
    margin: 0;
    padding: 12px 48px;
    color: rgb(255,255,255);
    font-size: 22px;
    text-decoration: none;
    border: solid 4px rgb(255,255,255);
}
#alert-container{
    padding-top: 20px;
    text-align: center;
    align-content: center;

}
.alert {
    padding: 10px;
    margin: 20px;
    position: relative;
    display: inline-block;
    font-size: 1.4em;
    text-align: center;
    border: 4px solid red;
    border-radius: 2px;
    color: red;
    vertical-align: middle;
    text-align: center;
}
.alert:hover{
    cursor: pointer;
    background:
        /* transparent red, faked with gradient */
            linear-gradient(
                    rgba(255, 0, 0, 0.05),
                    rgba(255, 0, 0, 0.05)
            );
}

.alert-modal{
    padding: 25px;
    position: absolute;
    top: 50%; left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    min-width: 200px;
    min-height: 200px;
    width: 600px;
    height: auto;
    max-height: 400px;
    max-width: 600px;
    background:
        /* transparent blue, faked with gradient */
            linear-gradient(
                    rgba(20, 20, 20, 0.92),
                    rgba(20, 20, 20, 0.92)
            );
    border: solid 2px rgb(255,0,0);
    overflow: hidden;
}

.alert-exit{
    position:absolute;
    top: 5px;
    right: 12px;
}
.alert-exit:hover{
    cursor: pointer;
    color: red;
}
.video {
    position: fixed;
    top: 50%; left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-color: black;
}
.hide {
    display: none; !important
}
@media (max-width: 800px){


    .cover  {

        background:
            /* transparent grey, faked with gradient */
                linear-gradient(
                        rgba(0, 0, 0, 1),
                        rgba(0, 0, 0, 1)
                )
    }
    .alert-modal{
        transform: translate(-50%, -50%);
        width: 300px;
        max-height: 400px;
    }


    .video {
        display: none;
    }
    }